@import '../src/utils/scss/normalize.scss';
@import '../src/utils/scss/normalize.scss';
@import '../src/utils/scss/var.scss';

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: disc;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .singIn{
    margin-top: -1px;
    height: 90px;
    width: 495px;
    padding-top: 20px;
    background-color: yellow;
    border-radius: 10px;
    border: 1px solid black;
  }

  #root{
    height: 100%;
  }

  .bgcRow{
    border: 3px solid #eee;
    width: 500px;
    height: 390px;
    border-radius: 10px;
    background-color: rgba(247, 255, 247, 0.553); 
  }

  .button_public{
    width: 100%;
    height: 50px;
    border-radius: 10px;
  }

  .bgcCol{
      width: 500px;
      text-align: center;
      margin-left: -50px;
      margin-top: 80px;
  }

  .Alert_pr{
    bottom: 50px;
    width: 500px;
  }

  .bgcImage{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    height: 711px;
    background-image: url(./img/minimal-desktop-wallpaper-high-resolution-4k-08.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

